<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stock app</title>

    {% block app_head %} {% endblock %}
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <main class="content">
      <div class="container-fluid p-0">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <div class="alert alert-info alert-dismissible" role="alert">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
          <div class="alert-icon"><i class="far fa-fw fa-bell"></i></div>
          <div class="alert-message">{{ message }}</div>
        </div>
        {% endfor %} {% endif %} {% endwith %} {% if title %}
        <h1 class="h3 mb-3">{{ title }}</h1>
        {% endif %}

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                {# application content needs to be provided in the app_content
                block #} {% block app_content %}{% endblock %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Bootstrap Javascripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    {% block script %} {% endblock %}
  </body>
</html>
